bin
Bin
obj
*.VisualState.xml
*~
*.suo
*.log
*.cache
*.user
*.tmp
*.ldf
*.mdf
*.swx
*.Publish.xml
_ReSharper*
*.vs10x
*.docstates
UpgradeLog*.htm
/src/packages
*.ide
*.lock
src/DocMaker/packages.config
